.app {
  // background-color: #FCF2E6;
  background-image: url('https://salad-bowl.s3.us-east-1.amazonaws.com/salad-bowl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: lighten;
}

.top-bar {
  background-color: transparent;

  .header-text {
    font-family: 'Baloo Tamma 2', cursive;
    color: black;
  }
}

.submit-button {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border-color: #FF9E9D;
  background-color: #FF9E9D;
  cursor: pointer;
}

.refresh-button {
  border-radius: 5px;
  border-color: #e0dcdc;
  background-color: #e0dcdc;
  cursor: pointer;
}

.home-screen {
  text-align: center;

  .rules-list {
    border-style: solid;
    border-color: black;
    text-align: left;
    width: 40%;
    margin: 0 30% 0 30%;
    padding: 25px 25px 10px 25px;
  }
}

.scoreboard {
  text-align: center;
}

table {
  th {
    text-align: center;
  }

  text-align: center;
  border-color: black;
  margin: 0 30% 0 30%;
  width: 40%;
}

.Red {
  background-color: #fccfcf30;
  opacity: .8;
  height: 100vh;
}

.Blue {
  background-color: #b6dcfa30;
  height: 100vh;
}

.reset-button {
  text-align: right;
  margin: 5px 15px 0 0;
}

.entry-form {
  width: 60%;
  margin: 2% 20% 0 20%;
}

.start-button-container {
  text-align: center;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 3em;
  margin-top: 7%;
}

.start-button {
  padding: 30px 30px 20px 30px;
}

.countdown-timer {
  text-align: center;
  border-radius: 25px;
  font-family: 'Baloo Tamma 2';
  font-weight: lighter;
  font-size: 3em;
}

.my-turn-container {
  text-align: center;
  // background-image: url("circleshadow.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
}

.entry-name {
  font-family: 'Baloo Tamma 2', cursive;
  font-weight: lighter;
  font-size: 2.5em;
  border: solid 1px black;
  box-shadow: 10px 10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px 10px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px 10px  rgba(0,0,0,0.6);
  margin: 0 auto;
  border-radius: 1000px;
  padding: 5%;
  height: 450px;
  width: 450px;
}

.entry-inner-div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
