@font-face {
	font-family: 'apercu';
	src: url('../images/apercu.otf');
}

@font-face {
	font-family: 'apercu-bold';
	src: url('../images/apercu-bold.otf');
  font-weight: bold;
}

.app {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #faf6ee;
  background-blend-mode: lighten;
  // overflow: hidden;
  position: relative;
  // font-family: 'apercu', sans-serif;
	// font-family: 'apercu-bold', sans-serif;
	font-family: 'Baloo Tamma 2', cursive;
  color: #292412;
  -webkit-font-smoothing: antialiased;
}

footer {
	text-align: right;
	bottom: 0;
}

.submit-button {
  background-color: #7FBB48;
  color: #faf6ee;
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "Apercu";
  border-radius: 24px;
  min-width: 176px;
  padding: 12px;
  margin: 22px;
  cursor: pointer;
}

.reset-button-container {
	text-align: right;
}

.reset-button {
	font-size: .9em;
	margin: 15px 15px 0 0;
	background: transparent;
	border: transparent;
	cursor: pointer;
}

.refresh-button {
  border-radius: 5px;
  border-color: #e0dcdc;
  background-color: #e0dcdc;
  cursor: pointer;
}

.home-screen {
  text-align: center;
  background-color: #faf6ee;
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // margin-top: -320px;
  // margin-left: -280px;
  // width: 560px;
  // height: 640px;

  .rules-list {
    text-align: left;
    padding: 5px 49px 0;
    width: 40%;
    margin: 0 30% 0 30%;
  }

  h1 {
    font-size: 35px;
    margin: 35px 10px 5px;
  }
  .rule {
    font-size: 16px;
    margin: 15px 0px;
    line-height: 25px;
  }

  .game-input {
    margin-bottom: 5px;
  }

  .home-button {
    margin: 10px;
  }

  .cancel-button {
    cursor: pointer;
  }
}

@media (max-width: 1000px) {
  .rules-list {
    text-align: center !important;
    padding: 0 !important;
    width: 85% !important;
    margin: 0 auto !important;
  }
}

.error-list {
  background-color: #f7e4e1;

  li {
    list-style-type: none;
  }
}

.background {
  position: absolute;
}

.salad-cell{
  width: 80px;
  height: 80px;
  position: absolute;
}
.top-left {
  background-image: url('top-left.svg');
  background-position: 0 0;
  left: 0px;
  top: 0px;
}
.top-middle {
  background-image: url('top-middle.svg');
  background-position: 0 0;
  left: 80px;
  top: 0px;
}
.top-right {
  background-image: url('top-right.svg');
  background-position: 0 0;
  left: 160px;
  top: 0px;
}
.middle-left {
  background-image: url('middle-left.svg');
  background-position: 0 0;
  left: 0px;
  top: 80px;
}
.middle-middle {
  background-image: url('middle-middle.svg');
  background-position: 0 0;
  left: 80px;
  top: 80px;
}
.middle-right {
  background-image: url('middle-right.svg');
  background-position: 0 0;
  left: 160px;
  top: 80px;
}
.bottom-left {
  background-image: url('bottom-left.svg');
  background-position: 0 0;
  left: 0px;
  top: 160px;
}
.bottom-middle {
  background-image: url('bottom-middle.svg');
  background-position: 0 0;
  left: 80px;
  top: 160px;
}
.bottom-right {
  background-image: url('bottom-right.svg');
  background-position: 0 0;
  left: 160px;
  top: 160px;
}

.scoreboard {
  padding-top: 50px;
  text-align: center;
	min-height: 100vh;
}

.round-rules {
	width: 390px;
	text-align: left;
}

.scoreboard-header {
	font-size: 2em;
}

.scoreboard-timer {
	color: #faf6ee;
}

.score-table {
  border-color: black;
  width: 380;
	font-size: 1.6em;
	background: #F1EDE4;
	border: #292412;

	.small-text {
		font-size: .6em;
		color: #8B877C;
	}

	.beige-text {
		color: #faf6ee;
	}

	th, td {
		text-align: center;
		background: #F1EDE4;
		border: 4px solid #faf6ee;
		border-radius: 10px;
	}

	.half-column {
		width: 190px;
	}

	.red-column {
		width: 145px;
	}

	.timer-red {
		background-color: #EF5227;
	}

	.timer-blue {
		background-color: #515BF2;
	}

	.R1 {
		background-color: #EF5227;
		color: #faf6ee;
	}
	.R2 {
		background-color: #EF5227;
		color: #faf6ee;
	}
	.R3 {
		background-color: #EF5227;
		color: #faf6ee;
	}
	.B1 {
		background-color: #515BF2;
		color: #faf6ee;
	}
	.B2 {
		background-color: #515BF2;
		color: #faf6ee;
	}
	.B3 {
		background-color: #515BF2;
		color: #faf6ee;
	}
}

.player-table {
	th {
    text-align: center;
  }

	thead {
		background: transparent;
		border: transparent;
	}

	tbody {
		background: transparent;
		border: transparent;
	}

  text-align: center;
  margin: 0 35% 0 35%;
  width: 30%;
	margin-bottom: 15px;
}

.entry-form {
  width: 60%;
  margin: 2% 20% 0 20%;
}

.start-button-container {
  text-align: center;
  font-family: 'apercu-bold', sans-serif;
  font-size: 3em;
  margin-top: 7%;
}

.start-button {
  padding: 30px 40px 25px 40px;
  border-radius: 30px;
}

.my-turn-container {
  width: 100%;
  max-width: 1920px;
  // text-align: center;
}

.countdown-timer {
  text-align: center;
  border-radius: 25px;
  font-family: 'apercu-bold', sans-serif;
  font-weight: lighter;
  font-size: 3em;
}

.countdown-timer-red {
	color: #F25162;
}

.outer-div {
  font-family: 'apercu-bold', sans-serif;
  font-weight: lighter;

  .entry-name {
    text-align: center;
    border: solid 1px black;
    box-shadow: 30px 20px  rgba(0,0,0,0.2);
    -moz-box-shadow: 30px 20px  rgba(0,0,0,0.2);
    -webkit-box-shadow: 30px 20px  rgba(0,0,0,0.2);
    -o-box-shadow: 30px 20px  rgba(0,0,0,0.2);
    margin: 0 auto;
    border-radius: 1000px;
    padding: 5%;
    height: 450px;
    width: 450px;
  }

  .entry-inner-div {
    font-size: 2em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .turn-buttons {
    position: relative;
    top: 55%;
    transform: translateY(-45%);

    button {
      padding: 12px 40px 8px 40px;
      margin: 0 15px 0 15px;
      cursor: pointer;
    }

    button:focus {
      outline: none;
    }

    .correct-button {
      background-color: #608EC8;
      color: white;
      border-radius: 25px;
    }
  }

  .details {
    text-align: center;
    transform: translateY(50%);
    margin-bottom: 35px;
  }

  .details-number {
    font-size: 2.5em;
    margin: -15px;
  }

  @media (max-width: 1000px) {
    .entry-name {
      padding: 0;
      height: 275px;
      width: 275px;
    }

    .entry-inner-div {
      font-size: 1.3em;
    }

    .details-number {
      font-size: 1.8em;
    }
  }
}

.privacy-policy {
	text-align: center;
}
